@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: #333;
  background-image: linear-gradient(to top left, #368280 0%, #2e61bf 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 100vh;
}

/* Layout styles */
main {
  position: relative;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
}

.headline {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.player {
  flex: 50%;
  padding: 15rem 9rem 9rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  border-radius: 9px;
}

/* Elements styles */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #365fc7;
  margin-bottom: auto;
  line-height: 1;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #364cc7;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

#total-score {
  color: #fff;
  margin-top: 3.5rem;
}

.active-player-pill {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #2e61bf;
  color: #fff;
  margin-top: -20px;
}

/* Elements with absolute position style */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.the-winner {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 4rem;
}

.player--winner {
  background-color: #1a2c48;
  background-image: url('/assets/img/6k2.gif');
}

.player--winner .name {
  font-weight: 700;
  color: #3647c7;
}

.hidden {
  display: none;
}

footer {
  position: relative;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  cursor: pointer;
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: #000;
}

@media only screen and (max-width: 992px) {
  .name {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 90%;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
  }

  .btn::first-letter {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }

  .player {
    padding: 13rem 4rem 9rem 4rem;
  }

  .the-winner {
    top: 33%;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 576px) {
  main {
    flex-direction: column;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.5rem 1.3rem;
  }

  .btn--new {
    top: 3rem;
  }
  .btn--roll {
    top: 44.3%;
  }
  .btn--hold {
    top: 55.5%;
  }

  .dice {
    top: 49%;
    height: 5rem;
  }

  .btn::first-letter {
    font-size: 1.4rem;
    margin-right: 0.3rem;
  }

  .headline {
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }

  .player:nth-child(1) {
    padding: 12rem 2rem 10rem 2rem;
  }

  .player:nth-child(2) {
    padding: 12rem 2rem 7rem 2rem;
  }

  #total-score {
    margin-top: 2.5rem;
  }

  .score {
    font-size: 6rem;
    line-height: 1;
  }

  .current {
    margin-top: 3rem;
    padding: 2rem 2rem 1rem 2rem;
  }

  .the-winner {
    top: 49.8%;
  }
}
